.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 5vmin;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-header-text {
  margin-right: 6vmin;
}

.form {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 90vw;
}

.label {
  display: flex;
  flex-direction: column;
}

.units {
  font-size: 3vmin;
}

.input {
  width: 24vw;
  height: 5vmin;
  font-size: 4.5vmin;
  text-align: center;
  padding-left: 3vmin;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vmin;
}

.knotAmount {
  width: 30vmin;
  height: 10vmin;
  margin-right: 10vmin;
  font-size: 7vmin;
  color: #000;
  background-color: #fff;
  border-radius: 2vmin;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
